[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
pandas = "*"
pymysql = "*"
requests = "*"
flask = "*"
gevent = "*"
selenium = "*"


[dev-packages]

[requires]
python_version = "3.7"
